'menu': [
  {
    label: 'Packages'
    submenu: [
      {
        label: 'Super Cursor'
        submenu: [
          { label: 'Power', command: 'cursor-leader:power' }
          { label: 'Toggle', command: 'cursor-leader:toggle' }
          { label: 'Previous', command: 'cursor-leader:previous' }
        ]
      }
    ]
  }
]
