'.platform-darwin atom-text-editor':
  'cmd-alt-insert'   : 'super-cursor:power'
  'cmd-alt-pageup'   : 'super-cursor:previous'
  'cmd-alt-pagedown' : 'super-cursor:next'
  'cmd-alt-enter'    : 'super-cursor:toggle'
  'cmd-alt-up'       : 'super-cursor:move-up'
  'cmd-alt-down'     : 'super-cursor:move-down'
  'cmd-alt-left'     : 'super-cursor:move-left'
  'cmd-alt-right'    : 'super-cursor:move-right'

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'ctrl-alt-insert'  : 'super-cursor:power'
  'ctrl-alt-pageup'  : 'super-cursor:previous'
  'ctrl-alt-pagedown': 'super-cursor:next'
  'ctrl-alt-enter'   : 'super-cursor:toggle'
  'ctrl-alt-up'      : 'super-cursor:move-up'
  'ctrl-alt-down'    : 'super-cursor:move-down'
  'ctrl-alt-left'    : 'super-cursor:move-left'
  'ctrl-alt-right'   : 'super-cursor:move-right'
