'.platform-darwin atom-text-editor':
  'cmd-alt-pagedown': 'super-cursor:previous'
  'cmd-alt-pageup'  : 'super-cursor:next'
  'cmd-alt-enter'   : 'super-cursor:toggle'
  'cmd-alt-up'      : 'super-cursor:move-up'
  'cmd-alt-down'    : 'super-cursor:move-down'
  'cmd-alt-left'    : 'super-cursor:move-left'
  'cmd-alt-right'   : 'super-cursor:move-right'
  'cmd-alt-home'    : 'super-cursor:move-to-first-character-of-line'
  'cmd-alt-end'     : 'super-cursor:move-to-end-of-line'

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'ctrl-alt-pagedown': 'super-cursor:previous'
  'ctrl-alt-pageup'  : 'super-cursor:next'
  'ctrl-alt-enter'   : 'super-cursor:toggle'
  'ctrl-alt-up'      : 'super-cursor:move-up'
  'ctrl-alt-down'    : 'super-cursor:move-down'
  'ctrl-alt-left'    : 'super-cursor:move-left'
  'ctrl-alt-right'   : 'super-cursor:move-right'
  'ctrl-alt-home'    : 'super-cursor:move-to-first-character-of-line'
  'ctrl-alt-end'     : 'super-cursor:move-to-end-of-line'
