@import "ui-variables";

.status-bar .cursor-leader-status {
  cursor: pointer;

  .icon::before {
    margin-right: 0;
  }

  .power {
    color: @text-color-success;
  }
}

atom-text-editor .cursors .cursor.cursor-leader-highlight {
  border-left-color: @text-color-error;
}

atom-text-editor.overtype-cursor .cursors .cursor.cursor-leader-highlight
{
  border: 1px solid @text-color-error;
  background-color: fade(@text-color-error, 20%);
}

atom-text-editor.overtype-cursor .cursors.blink-off .cursor.cursor-leader-highlight
{
  border: none;
}
